Atividade_XML/documentos/biblioteca.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="endereco">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="numero" type="xs:unsignedByte" />
              <xs:element name="complemento" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="cep" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="livros">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="livro">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="titulo" type="xs:string" />
                    <xs:element name="paginas" type="xs:unsignedShort" />
                    <xs:element maxOccurs="unbounded" name="autor" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="quantidade" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="emprestados" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>